@import 'colors';
@import 'sizes';

.card {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $opaque-black;
  display: flex;
  height: 415px;
  margin: auto;
  padding: 25px;
  position: relative;
  width: 900px;
}

.photo-detail {
  height: 370px;
  margin-right: 50px;
  width: 260px;
}

.photo::after {
  background: center/contain no-repeat url('./assets/badge.png');
  content: '';
  height: $badge-height;
  left: 235px;
  position: absolute;
  top: 10px;
  transform: rotate(25deg);
  width: $badge-width;
}

.information {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
}

.book-description {
  margin-bottom: 35px;

  &:first-child {
    border-bottom: solid 4px $earls-green;
    padding-bottom: 20px;
  }
}

.bold {
  font-weight: bold;
}

.default-text {
  color: $gray;
  font-size: 20px;
  line-height: 24px;
}

.subtitle {
  color: $black;
  font-size: 20px;
  line-height: 24px;
}

.title {
  color: $black;
  font-size: 32px;
  line-height: 38px;
}

.small-title {
  color: $gray;
  font-size: 24px;
  line-height: 28px;
}

.back-arrow {
  display: block;
  margin: 45px auto 50px;
  padding-left: 25px;
  position: relative;
  width: 900px;

  &::before {
    background: center/contain no-repeat url('./assets/back-arrow-20.png');
    content: '';
    height: 20px;
    left: 0;
    position: absolute;
    width: 20px;
  }
}

.back-link {
  color: $black;
  font-size: 20px;
  line-height: 23px;
}

@media only screen and (max-width: $small-laptops) {
  .app-container {
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
  }

  .card {
    align-items: center;
    flex-direction: column;
    height: 570px;
    margin-top: 100px;
    padding: 40px 20px 0 20px;
    width: 335px;
  }

  .photo-detail {
    height: 100%;
    width: 100%;
  }

  .photo {
    height: 300px;
    margin-bottom: 20px;
    width: 215px;

    &::after {
      height: calc(#{$badge-height} - #{$badge-height} * 0.3);
      top: 25px;
      transform: rotate(15deg);
      width: calc(#{$badge-width} - #{$badge-width} * 0.3);
    }
  }

  .information {
    width: 100%;
  }

  .book-description {
    margin-bottom: 20px;

    &:first-child {
      padding-bottom: 10px;
    }
  }

  .default-text {
    font-size: 14px;
    line-height: 17px;
  }

  .subtitle {
    font-size: 14px;
    line-height: 17px;
  }

  .title {
    font-size: 24px;
  }

  .small-title {
    font-size: 16px;
    line-height: 19px;
  }

  .back-arrow {
    margin: 20px auto 50px;
    width: 70px;
  }
}
