@import 'colors';

.card {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $opaque-black;
  display: flex;
  height: 415px;
  padding: 24px 24px;
  width: 900px;
}

.photo-detail {
  height: 370px;
  width: 260px;
}

.information {
  display: flex;
  flex-flow: column wrap;
  margin: 0 52px;
}

.book-description {
  margin-bottom: 36px;
}

.bold {
  font-weight: bold;
}

.default-text {
  color: $gray;
  font-size: 20px;
  line-height: 24px;
}

.subtitle {
  color: $black;
  font-size: 20px;
  line-height: 24px;
}

.title {
  color: $black;
  font-size: 32px;
  line-height: 38px;
}

.small-title {
  color: $gray;
  font-size: 24px;
  line-height: 28px;
}
