@import 'colors';

.body {
  background-color: $wild-sand;
}

.card {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $opaque-black;
  display: flex;
  height: 415px;
  margin: auto;
  padding: 25px;
  position: relative;
  top: 100px;
  width: 900px;
}

.photo-detail {
  height: 370px;
  margin-right: 50px;
  width: 260px;
}

.photo::after {
  background: center/contain no-repeat url('./assets/badge.png');
  content: '';
  height: 95px;
  left: 235px;
  position: absolute;
  top: 10px;
  transform: rotate(25deg);
  width: 80px;
}

.information {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
}

.book-description {
  margin-bottom: 35px;
}

.book-description:first-child {
  border-bottom: solid 4px $earls-green;
  padding-bottom: 20px;
}

.bold {
  font-weight: bold;
}

.default-text {
  color: $gray;
  font-size: 20px;
  line-height: 24px;
}

.subtitle {
  color: $black;
  font-size: 20px;
  line-height: 24px;
}

.title {
  color: $black;
  font-size: 32px;
  line-height: 38px;
}

.small-title {
  color: $gray;
  font-size: 24px;
  line-height: 28px;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
}

.photo-list {
  height: 200px;
  margin-bottom: 10px;
  width: 145px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto 0;
  width: 950px;
}

.list-title {
  color: $black;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 5px;
}

.facebook {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $opaque-black;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-bottom: 35px;
  margin-right: 35px;
  padding: 30px 30px 25px;
  width: 200px;
}

.list-author {
  color: $gray;
  font-size: 14px;
  line-height: 17px;
}
