@import 'colors';

.book-list {
  display: flex;
  flex-wrap: wrap;
}

.photo-list {
  height: 200px;
  margin-bottom: 10px;
  width: 145px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto 0;
  width: 950px;
}

.list-title {
  color: $black;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 5px;
}

.cover-page {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $opaque-black;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 0 35px 35px 0;
  padding: 30px 30px 25px;
  width: 200px;
}

.list-author {
  color: $gray;
  font-size: 14px;
  line-height: 17px;
}
