@import 'colors';

.book-list {
  display: flex;
  flex-wrap: wrap;
}

.photo-list {
  height: 200px;
  margin-bottom: 10px;
  width: 145px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  margin: 100px auto 0;
  width: 950px;
}

.list-title {
  color: $black;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 5px;
}

.cover-page {
  background-color: $white;
  box-shadow: 4px 4px 10px 0 $opaque-black;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 0 35px 35px 0;
  padding: 30px 30px 25px;
  transition: transform 0.3s;
  width: 200px;

  &:hover {
    transform: scale(1.2);
  }
}

.list-author {
  color: $gray;
  font-size: 14px;
  line-height: 17px;
}

.navbar {
  align-items: center;
  background-color: $white;
  border-top: solid 6px $cerulean;
  box-shadow: 0 4px 10px 0 $opaque-black;
  display: flex;
  justify-content: space-between;
  padding: 0 calc((100% - 950px) / 2 + 40px) 0 calc((100% - 950px) / 2);
  position: fixed;
  top: 0;
  width: 100%;
}

.logo {
  height: 70px;
  width: 210px;
}
